
body{
    padding: 0;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height:150%;
    color: #333;
    background:#777;
    width:960px;



}
 header, nav,footer{
    background:#333333;
    height: 130px;
  width: 100%;
  color:white;
  text-align: center;
  line-height: 5.0;
} 

section{
    background:#333333;
    height: 320px;
  width: 50%;
  color:white;
  text-align: center;
  line-height: 5.0;
  display: block;
  float: left;
 
} 
article{
    background:red;
    height: 180px;
  width: 375px;
  color:white;
  text-align: center;
  line-height: 5.0;
  margin: auto;
} 
.text{
    background:gray;
    height:50px;
    width:40;
    margin: auto;

}

/* h2{
    font-size: 24px;
}

a{
    color: #d21034;
} */